# Основной бэкенд api.
# По умолчанию: https://mp.sharik.ru
# REACT_APP_API_URL=http://localhost:3001

# ai-api / Studio. По умолчанию: https://mp.sharik.ru/studio
# REACT_APP_STUDIO_URL=https://mp.sharik.ru/studio

# Photoroom (редактор изображений)
# REACT_APP_API_KEY=
