@font-face {
  font-family: 'GemarFont';
  src: url('./assets/fonts/9887.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BelbalFont';
  src: url('./assets/fonts/DessertScript.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BelbalFontRegul';
  src: url('./assets/fonts/AlegreyaSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosCond';
  src: url('./assets/fonts/Helios\ Cond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FreeSetRegular';
  src: url('./assets/fonts/ofont.ru_FreeSetTT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FreeSetBold';
  src: url('./assets/fonts/ofont.ru_FreeSetBoldTT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('./assets/fonts/MyriadPro-BlackCond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosk';
  src: url('./assets/fonts/Bosk.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Troubleside';
  src: url('./assets/fonts/Troubleside.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Badaboom';
  src: url('./assets/fonts/aa_badaboom.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RF_Krabuler';
  src: url('./assets/fonts/rfkrabuler_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaRound';
  src: url('./assets/fonts/a_FuturaRound.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaRoundDemi';
  src: url('./assets/fonts/a_FuturaRoundDemi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RoslinGothic_DG';
  src: url('./assets/fonts/roslyngothicmedium-dg-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alterna Nr';
  src: url('./assets/fonts/a_AlternaNr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jolly Lodger';
  src: url('./assets/fonts/jolly-lodger-cyrillic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Swampy';
  src: url('./assets/fonts/Swampy\ Clean.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cartonsix NC';
  src: url('./assets/fonts/Cartonsix\ NC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pribambas';
  src: url('./assets/fonts/Pribambas-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VividSans';
  src: url('./assets/fonts/VividSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zametka';
  src: url('./assets/fonts/Zametka_Parletter.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span {
  line-height: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8e8e8e;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 #f8f8f8;
}

*:hover {
  scrollbar-color: #8e8e8e #f8f8f8;
}

@import './assets/styles/app.css'